**Importando o Pandas**

In [6]:
import pandas as pd

**Criando um Dataframe a partir de um dicionário**

In [7]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2023', '16/02/2023'],
        'valor': [500, 300],
        'produto': ['feijao', 'arroz'],
        'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)

**Visualização dos Dados**
- print
- display

In [8]:
print(vendas_df)

         data  valor produto  qtde
0  15/02/2023    500  feijao    50
1  16/02/2023    300   arroz    70

In [9]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2023    500  feijao    50
1  16/02/2023    300   arroz    70

**Importando arquivos e base de dados**

In [75]:
vendas_df = pd.read_excel("vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

**Resumo de Visualização de dados simples e úteis**
- head
- shape 
- describe

In [ ]:
display(vendas_df.head())
print(vendas_df.shape)
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276

(7089, 7)

       Código Venda   Quantidade  Valor Unitário  Valor Final
count   7089.000000  7089.000000     7089.000000  7089.000000
mean   67492.398928     2.147976      193.651150   411.526449
std     1450.709530     1.244048      148.023448   424.007114
min    65014.000000     1.000000       30.000000    30.000000
25%    66211.000000     1.000000      100.000000   160.000000
50%    67474.000000     2.000000      150.000000   269.000000
75%    68764.000000     3.000000      248.000000   524.000000
max    69997.000000     5.000000      750.000000  3750.000000

**Pegar 1 coluna (e os pd.Series)**

In [ ]:
produtos = vendas_df['Produto']           **UM ITEM**
display(produtos)

0         Sunga Listrado
1        Casaco Listrado
2        Sapato Listrado
3                 Casaco
4             Gorro Liso
              ...
7084      Short Listrado
7085             Mochila
7086    Pulseira Estampa
7087     Camisa Listrado
7088         Short Linho
Name: Produto, Length: 7089, dtype: object

In [ ]:
produtos = vendas_df[['Produto', 'ID Loja']]         **DOIS ITENS OU MAIS**
display(produtos)

               Produto                     ID Loja
0       Sunga Listrado            Shopping Morumbi
1      Casaco Listrado            Shopping Morumbi
2      Sapato Listrado           Iguatemi Campinas
3               Casaco           Iguatemi Campinas
4           Gorro Liso          Shopping SP Market
...                ...                         ...
7084    Short Listrado  Center Shopping Uberlândia
7085           Mochila  Center Shopping Uberlândia
7086  Pulseira Estampa  Center Shopping Uberlândia
7087   Camisa Listrado           Ribeirão Shopping
7088       Short Linho           Ribeirão Shopping

[7089 rows x 2 columns]

**.loc, um método muito importante**
- Pegar linha
- Pegar linhas de acordo com alguma condição 
- Pegar linhas e colunas específicas 
- Pegar 1 valor específico

In [ ]:
# pegar uma linha
 display(vendas_df.loc[6:18])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
6,65018,2019-12-01,Rio Mar Shopping Fortaleza,Sunga Xadrez,1,116,116
7,65018,2019-12-01,Rio Mar Shopping Fortaleza,Casaco Listrado,1,269,269
8,65019,2019-12-01,Shopping União de Osasco,Polo Xadrez,2,142,284
9,65019,2019-12-01,Shopping União de Osasco,Tênis Linho,1,294,294
10,65020,2019-12-01,Shopping Morumbi,Pulseira Listrado,4,79,316
11,65020,2019-12-01,Shopping Morumbi,Camiseta Xadrez,5,200,1000
12,65020,2019-12-01,Shopping Morumbi,Camisa Listrado,2,108,216
13,65024,2019-12-01,Passei das Águas Shopping,Camiseta Estampa,2,196,392
14,65025,2019-12-01,Shopping Ibirapuera,Calça Xadrez,5,185,925
15,65025,2019-12-01,Shopping Ibirapuera,Short Listrado,1,102,102
16,65025,2019-12-01,Shopping Ibirapuera,Meia Listrado,1,37,37
17,65027,2019-12-01,Norte Shopping,Relógio Listrado,1,218,218
18,65028,2019-12-01,Iguatemi Campinas,Sapato,5,350,1750

In [ ]:
# pegar uma linha com alguma condição
vendas_norte_shopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Shopping Morumbi']
display(vendas_norte_shopping_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
277,65200,2019-12-01,Parque Dom Pedro Shopping,Camisa Gola V Liso,5,118,590
278,65201,2019-12-01,Bourbon Shopping SP,Sapato,2,350,700
279,65201,2019-12-01,Bourbon Shopping SP,Casaco Xadrez,2,259,518
280,65202,2019-12-01,Shopping União de Osasco,Sunga,1,100,100
281,65202,2019-12-01,Shopping União de Osasco,Casaco Liso,5,255,1275

In [ ]:
# pegar várias linhas e colunas usando o loc
vendas_norteshopping_df = vendas_df.loc[vendas_df['Data'] == '2019-12-01', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

                       ID Loja             Produto  Quantidade
0             Shopping Morumbi      Sunga Listrado           5
1             Shopping Morumbi     Casaco Listrado           1
2            Iguatemi Campinas     Sapato Listrado           2
3            Iguatemi Campinas              Casaco           1
4           Shopping SP Market          Gorro Liso           3
..                         ...                 ...         ...
277  Parque Dom Pedro Shopping  Camisa Gola V Liso           5
278        Bourbon Shopping SP              Sapato           2
279        Bourbon Shopping SP       Casaco Xadrez           2
280   Shopping União de Osasco               Sunga           1
281   Shopping União de Osasco         Casaco Liso           5

[282 rows x 3 columns]

In [ ]:
# pegar um valor específico 
print(vendas_df.loc[9, 'Produto'])

Tênis Linho

**Adiconar 1 coluna**

In [76]:
# a partir de uma coluna que existe 
vendas_df["Comissao"] = vendas_df["Valor Final"] * 0.05
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,12.50
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30

In [78]:
# criar uma coluna com valor padrão
vendas_df.loc[:, "Imposto"] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,12.50,0
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

**Adicionar 1 linha**
- Linhas de um complemento da base de dados

In [84]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
display(vendas_dez_df)

#modificando o vendas_df
vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

C:\Users\D1G40\AppData\Local\Temp\ipykernel_824\1079387085.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df = vendas_df.append(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0.0
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,12.50,0.0
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

**Excluir linhas e colunas**

In [85]:
# exclui a coluna Código Venda
vendas_df = vendas_df.drop("Código Venda", axis=1)
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0
1,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0
2,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0.0
3,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,12.50,0.0
4,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0.0
...,...,...,...,...,...,...,...,...
7084,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [86]:
# exclui a linha 3
vendas_df = vendas_df.drop(3, axis=0)
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0
1,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0
2,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0.0
4,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0.0
5,2019-12-01,Rio Mar Shopping Fortaleza,Cueca Estampa,1,66,66,3.30,0.0
...,...,...,...,...,...,...,...,...
7084,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

**Valores Vazios**
- Deletar linha/colunas vazias
- Deletar linhas que possuem valores vazios
- Preencher valores vazios (média e último valor)

In [93]:
# deletar linhas e colunas completamente vazias
vendas_df = vendas_df.dropna(how='all', axis=0)
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0
1,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0
2,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0.0
4,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0.0
5,2019-12-01,Rio Mar Shopping Fortaleza,Cueca Estampa,1,66,66,3.30,0.0
...,...,...,...,...,...,...,...,...
7084,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [106]:
# deletar linhas que possuem pelo menos 1 valor sozinho
vendas_df = vendas_df.dropna()
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0
1,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0
2,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0.0
4,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0.0
5,2019-12-01,Rio Mar Shopping Fortaleza,Cueca Estampa,1,66,66,3.30,0.0
...,...,...,...,...,...,...,...,...
7084,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0.0
7085,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0.0
7086,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0.0
7087,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0.0
7088,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0.0

In [105]:
# preencher valores vazios
# preencher com a média da coluna
vendas_df["Comissao"] = vendas_df["Comissao"].fillna(vendas_df["Comissao"].mean())
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0
1,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0
2,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0.0
4,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0.0
5,2019-12-01,Rio Mar Shopping Fortaleza,Cueca Estampa,1,66,66,3.30,0.0
...,...,...,...,...,...,...,...,...
7084,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0.0
7085,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0.0
7086,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0.0
7087,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0.0
7088,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0.0

In [108]:
# preenche com o último valor acima
vendas_df = vendas_df.ffill()
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0
1,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0
2,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0.0
4,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0.0
5,2019-12-01,Rio Mar Shopping Fortaleza,Cueca Estampa,1,66,66,3.30,0.0
...,...,...,...,...,...,...,...,...
7084,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0.0
7085,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0.0
7086,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0.0
7087,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0.0
7088,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0.0

**Calcular indicadores**
- Groupby
- Value Counts

In [111]:
# value counts
transacoes_loja = vendas_df["ID Loja"].value_counts()
display(transacoes_loja)

Rio Mar Recife                      366
Iguatemi Campinas                   314
Shopping Morumbi                    306
Shopping Eldorado                   304
Salvador Shopping                   302
Palladium Shopping Curitiba         301
Center Shopping Uberlândia          300
Shopping Vila Velha                 299
Rio Mar Shopping Fortaleza          294
Parque Dom Pedro Shopping           290
Shopping Iguatemi Fortaleza         290
Passei das Águas Shopping           289
Bourbon Shopping SP                 286
Shopping Recife                     286
Shopping União de Osasco            284
Ribeirão Shopping                   277
Shopping Ibirapuera                 273
Shopping SP Market                  272
Shopping Barra                      260
Shopping Midway Mall                259
Iguatemi Esplanada                  258
Norte Shopping                      255
Shopping Center Interlagos          254
Novo Shopping Ribeirão Preto        239
Shopping Center Leste Aricanduva    230
Name: ID Loja, dtype: int64

In [112]:
# group by
faturamento_produto = vendas_df[["Produto", "Valor Final",]].groupby("Produto").sum()
display(faturamento_produto)

                  Valor Final
Produto
Bermuda                 18450
Bermuda Estampa         18590
Bermuda Linho           25545
Bermuda Liso            18683
Bermuda Listrado        20212
...                       ...
Tênis Estampa           32000
Tênis Linho             34986
Tênis Liso              34048
Tênis Listrado          25938
Tênis Xadrez            29526

[120 rows x 1 columns]

**Mesclar 2 dataframes (Procurar informações de um dataframe em outro)**

In [115]:
gerentes_df = pd.read_excel("Gerentes.xlsx")
# display(gerentes_df)

vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto,Gerente
0,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0.0,Gisele
1,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0.0,Gisele
2,2019-12-01,Shopping Morumbi,Pulseira Listrado,4,79,316,15.80,0.0,Gisele
3,2019-12-01,Shopping Morumbi,Camiseta Xadrez,5,200,1000,50.00,0.0,Gisele
4,2019-12-01,Shopping Morumbi,Camisa Listrado,2,108,216,10.80,0.0,Gisele
...,...,...,...,...,...,...,...,...,...
7083,2019-12-25,Shopping Eldorado,Polo Liso,4,137,548,27.40,0.0,Paulo
7084,2019-12-25,Shopping Eldorado,Camisa Linho,3,141,423,21.15,0.0,Paulo
7085,2019-12-25,Shopping Eldorado,Cueca Xadrez,1,60,60,3.00,0.0,Paulo
7086,2019-12-26,Shopping Eldorado,Cueca Estampa,4,66,264,13.20,0.0,Paulo
7087,2019-12-26,Shopping Eldorado,Terno Listrado,3,709,2127,106.35,0.0,Paulo